{% extends init.Base %}
{% load static %}


{% block header_scripts_and_style %}
    <!-- Main Script -->
    <script src="{% static init.MainScript %}"></script>
{% endblock %}


{% block header %}
    {% include init.AllHeaders %}
{% endblock %}


{% block section %}
    <div class ='Title'>
        Main
    </div>

    <div>
        <div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div>
        <div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div><div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div><div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div><div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div><div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div><div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div><div class="Div_Show_More">
            <p>Themnfdsdsgfhdsjfhgfhdsjgfhg\sjfghd</p>
            <a href="">The Link To Full Article</a>
        </div>
    </div>
{% endblock %}


{% block footer_scripts %}
{% endblock %}
