{% extends init.Base %}
{% load static %}


{% block header_scripts_and_style %}
    <!-- Needed Scripts -->
    <script src="{% static init.CheckLenScript %}"></script>
    <script src="{% static init.CheckinputLenScript %}"></script>
    <script src="{% static init.TrigerMessageScript %}"></script>

    <!-- Main Script -->
    <script src="{% static init.MakeBlogScript %}"></script>
{% endblock %}


{% block header %}
    {% include init.LoggedHeaders %}
{% endblock %}


{% block section %}
    <div class ='Title'>
        Make Blog
    </div>

    {% include init.MessageBox %}

    <form id='BlogForm' method="post" enctype="multipart/form-data"
          action="{{ init.MakeBlog }}">

        {% csrf_token %}

        <div style="display: block;text-align: center;">

            <div class="Block">
                <textarea class="Input_Data" cols="100" rows="20" id="Blog" name="B"
                            required placeholder="Enter Your Blog Here"
                            oninput="CheckinputLen(this, Blog_Len)"></textarea>
            </div>

            <div>
                <input type="submit" value="Post" class='Button'>
            </div>
        </div>
    </form>
{% endblock %}


{% block footer_scripts %}
    <script type="text/javascript">
        var Blog_Len = {{ init.Blog_Len }}
    </script>
{% endblock %}
