{% extends init.Base %}
{% load static %}

{% block section %}
    <div class ='Title'>
        Help Center
    </div>
    <div>
        <a href="">How To Sign UP</a>
        <a href="">How To Log in</a>
        <a href="">How To Make Article</a>
        <a href="">How To Get The Articles</a>
        <a href="">How To Change Your Name</a>
        <a href="">How To Change Your Password</a>
        <a href="">How To Change Your Profile Picture</a>
        <a href="">How To Log Out</a>
        <a href="">How To Delete Post</a>
        <a href="">How To Close Comments</a>
        <a href="">How To Like Article</a>
        <a href="">How To DisLike Article</a>
    </div>

{% endblock %}