{% extends init.Base %}
{% load static %}


{% block header_scripts_and_style %}
    <!-- Needed Scripts -->
    <script src="{% static init.CheckLenScript %}"></script>
    <script src="{% static init.CheckinputLenScript %}"></script>

    <!-- Main Script -->
    <script src="{% static init.LoginScript %}"></script>
{% endblock %}


{% block header %}
    {% include init.NotLoggedHeaders %}
{% endblock %}


{% block section %}
    <div class ='Title'>
        Log in
    </div>

    <form id='LogForm' method="post" enctype="multipart/form-data"
        action="{{ init.Login }}">

        {% csrf_token %}

        <div>
            <input class='Input_Data' onfocus="Focus(this);"
                   onblur="Blur(this);" type="text" id='Email'
                   oninput="CheckinputLen(this, Email_Len)"
                   required name="E" placeholder="Enter Your Email"
                    {% if Wrong == 'Wrong Password' %}
                        value='{{ Email }}'
                    {% endif%}>
        </div>

        <div>
            <input class='Input_Data' onfocus="Focus(this);"
                   onblur="Blur(this);" id='Password' type="Password"
                   oninput="CheckinputLen(this, Password_Len)"
                   name="P" placeholder="Enter Password" required>
        </div>

        <div>
            <input type="submit" value="Log in" class='Button'>
        </div>

        <div>
            <a href="{{ init.SignUP }}">Create New Account</a>
        </div>
    </form>
{% endblock %}


{% block footer_scripts %}
    <script type="text/javascript">
        var Email_Len = {{ init.Email_Len }};
        var Password_Len = {{ init.Password_Len }};
    </script>

    <script type="text/javascript">
        {% if Wrong == 'Not Found' %}
            $('#Email').css('border-color','red');
        {% elif Wrong == 'Wrong Password' %}
            $('#Password').css('border-color','red');
        {% endif %}
    </script>
{% endblock %}
