{% extends init.Base %}
{% load static %}

{% block header_scripts_and_style %}
    <style type="text/css">
        .SignInForm{
            text-align: left;
        }
        .Block{
            margin: 0 0 0 0;
        }
    </style>
    <script src="{% static init.CheckLenScript %}"></script>
    <script src="{% static init.CheckinputLenScript %}"></script>
    <script src="{% static init.CheckPatternScript %}"></script>
    <script src="{% static init.ConfirmPasswordScript %}"></script>
    <script src="{% static init.SignUPScript %}"></script>
{% endblock %}

{% block header %}
    {% include init.NotLoggedHeaders %}
{% endblock %}

{% block section %}
    <div class = 'Title'>
        Sign UP
        {{ request }}
    </div>

    {% include init.MessageBox %}

    <form id='SignForm' method="post" enctype="multipart/form-data"
        class='SignInForm' action="{{ init.SignUP }}">

        {% csrf_token %}

        <div style="display: block;text-align: center;">

            <div class="Block">
                <input class="Input_Data" onfocus="Focus(this);" id='Name' name="N"
                        oninput="CheckinputLen(this, Name_Len)" type="text"
                        onblur="Blur(this);" required placeholder="Enter Your Name">
            </div>

            <div class="Block">
                <input class="Input_Data" onfocus="Focus(this);" onchange="CheckEmail()"
                    onblur="Blur(this);" type="text" id='Email' name="E"
                    required placeholder="Enter Your Email">
            </div>

            <div class="Block">
                <input class="Input_Data" onfocus="Focus(this);"
                    onblur="Blur(this);" id='Password' type="password"
                     required name="P" placeholder="Enter Your Password">
            </div>

            <div class="Block">
                <input class="Input_Data" onfocus="Focus(this);"
                    onblur="Blur(this);" id='ConPassword' type="password"
                     required placeholder="Re-Enter Password">
            </div>

            <div>
                <input type="submit" value="Log in" class='Button'>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        var CheckPage = '';
        var MyPage = '{{ init.SignUP }}';

        var Name_Len = {{ init.Name_Len }};
        var Email_Len = {{ init.Email_Len }};
        var Password_Len = {{ init.Password_Len }};
    </script>
{% endblock %}
